body {
  background: url('../img/bg.jpg');
  padding: 0;
  margin: 0;
  text-align: center;
}

main {
  height: 400vh;
}

a:hover {
  cursor: pointer;
}

a:hover > img {
  cursor: pointer;
}

#tk-link {
  margin-top: 100vh;
  display: inline-block;
}

#tk-link:hover > #tk {
  transform: rotate(180deg);
}

#tk {
  width: 240px;
  transition: all 0.5s ease-out;
  height: auto;
}

.media {
  margin: 120px auto;
}

.media > a {
  display: inline-block;
  margin: 0 60px;
}

.media > a > img {
  width: 120px;
  height: auto;
}

.media > a:hover > img {}

@media screen and (max-width: 640px) {
  body {
    background: url('../img/bg_mobile.jpg');
  }

  #tk {
    width: 140px;
  }

  .media {
    margin: 20px auto;
  }

  .media > a {
    margin: 30px auto;
    display: inline-block;
    width: 48%;
  }

  .media > a > img {
    width: 84px;
    margin: 0;
  }
}
