body {
  background: url('../img/bg.jpg');
  padding: 0;
  margin: 0;
}

#tk {
  display: block;
  margin: auto;
  width: 240px;
  height: auto;
}

.media {
  margin: 120px auto;
  text-align: center;
}

.media > a {
  margin: 0 60px;
}

.media > a > img {
  width: 120px;
  height: auto;
}

.media > a:hover > img {}

@media screen and (max-width: 640px) {
  #tk {
    width: 140px;
  }

  .media {
    margin: 20px auto;
  }

  .media > a {
    margin: 30px auto;
    display: inline-block;
    width: 48%;
  }

  .media > a > img {
    width: 84px;
    margin: 0;
  }
}